<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生一覧</title>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>フリガナ</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail:${studentList}">
    <td th:text="${studentDetail.student.id}">2005</td>
    <td>
      <a th:href="@{'/editStudent/' + ${studentDetail.student.id}}"
         th:text="${studentDetail.student.name}">名前</a>
    </td>

    <td th:text="${studentDetail.student.furigana}">サカイシオリ</td>
    <td th:text="${studentDetail.student.nickname}">シオリ</td>
    <td th:text="${studentDetail.student.email}">shiori.sakai@abccc.co.jp</td>
    <td th:text="${studentDetail.student.region}">群馬県</td>
    <td th:text="${studentDetail.student.age}">36</td>
    <td th:text="${studentDetail.student.gender}">Female</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
  </tr>
  </tbody>
</table>
</body>
</html>